environment = "staging"

PORT=4700
SOCKET=3005
DATABASE_PORT=5432
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DB=
SECRET=
AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=AKIAQNPOOZVCNTX7USUC
AWS_SECRET_ACCESS_KEY=
AWS_PUBLIC_BUCKET_NAME=template-storage